{% extends 'base.html.twig' %}

{% block body %}<h2>Hello........... Ola Ola</h2>
    Sammy on the way ;). <br> Sammy on the way ;). <br> Sammy on the way ;). <br> Sammy on the way ;). <br> Sammy on the way ;). <br>
    Sammy on the way ;). <br> Sammy on the way ;). <br> Sammy on the way ;). <br> Sammy on the way ;). <br> Sammy on the way ;). <br>
    <br> ________________________________________________________________________________________________________________________<br><br<br>
    <br><br>Sammy on the way ;). <br> Sammy on the way ;). <br> Sammy on the way ;). <br> Sammy on the way ;). <br> Sammy on the way ;). <br>
    Sammy on the way ;). <br> Sammy on the way ;). <br> Sammy on the way ;). <br> Sammy on the way ;). <br> Sammy on the way ;). <br>
     <br> ________________________________________________________________________________________________________________________<br><br<br>
    <br>
{% endblock %}
